<html>
  <head>
    <title> {{title}} </title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
  <body>
    {{> navbar}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
