<h1> My Blog </h1>
<hr>
{{#each post}}
  <h4>{{this.headline}}</h4>
  <p>{{prettyDate this.createdAt}}</p>
  <a href="/blog/{{this.permalink}}">View</a>
  <hr>  
{{/each}}
{{isAdmin}}
{{#if isAdmin}}
  <a class="btn-primary btn" href="/blog/new">Create a new Post</a>
{{/if}}